html {
  scroll-behavior: smooth;
}
*{
  font-family: sans-serif;
}


.jumbotron {
  background-image: url("./images/jumbotron.svg");
  background-size: cover;
  min-height: 600px;

}

.footer1{
  font-size: 12px;
}

footer{
  background-color: #ffbd59;
}
#jumbotron-h1, #jumbotron-p{
  font-family: 'Fjalla One', sans-serif;
}
#jumbotron-p{
  font-size: 40px;

}

#about{
  min-height: 100px;
  background-image: url("./images/background-about.svg") no-repeat 0 0 fixed ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#navbar{
  background-color: #ffbd59;
}